.dashboard {
  height: 90vh;
  background-color: var(--PrimaryColorRegular);
}

.createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--RegularButtonColorText);
  background-color: var(--RegularButtonColorBg);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.createButton:hover {
  background-color: var(--PrimaryColorLight);
}

@media screen and (min-width: 600px) {
  .createButton {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1000px) {
  .createButton {
    font-size: 5rem;
  }
}
